{% extends 'base.html.twig' %}

{% block title %}
    Consumo API REST
{% endblock %}

{% block body %}

    <h1>
        Consumo API REST
    </h1>
    <div>
        <button id="btnLibros" type="button" class="btn btn-primary">
            Cargar libros
        </button>

    </div>
    <ul id="listaLibros"></ul>

{% endblock %}